<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    {% if messages_body %}
        <table>
            <thead>
                <tr>
                    <th>Message id</th>
                    <th>thread id</th>
                    <th>snippit</th>
                </tr>
            </thead>
            <tbody>
                {% for message_body in messages_body %}
                    <tr>
                        <td>{{ message_body.id }}</td>
                        <td>{{ message_body.threadId }}</td>
                        <td>{{ message_body.snippet }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>